<h1>List of ratings</h1>

<p> Number of breweries: <%= @ratings.count %> </p>

<ul>
	<% @ratings.each do |rating| %>

	   <li> <%= rating %>
	<% end %>
</ul>


<%= link_to 'New rating', ratings_new_path %>

